In [1]:
!pip install selenium pandas openpyxl webdriver-manager

Requirement already satisfied: selenium in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (4.35.0)
Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: webdriver-manager in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (4.0.2)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Requirement already satisfied: trio~=0.30.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.30.0)
Requirement already satisfied: trio-websocket~=0.12.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.6.15 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from selenium) (2025.8.3)
Requirement already satisfied: typing_extensions~=4.14.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from selenium) (4.14.1)
Requirement already satisfied: websocket-client~=1.8.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: requests in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from webdriver-manager) (2.32.5)
Requirement already satisfied: python-dotenv in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from webdriver-manager) (1.1.1)
Requirement already satisfied: packaging in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from webdriver-manager) (25.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (25.3.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (3.10)
Requirement already satisfied: outcome in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.30.0->selenium) (2.0.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from trio-websocket~=0.12.2->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from requests->webdriver-manager) (3.4.3)
Requirement already satisfied: pycparser in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.14->trio~=0.30.0->selenium) (2.23)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.12.2->selenium) (0.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
#imports
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
#Initialize Selenium Chrome Driver
def get_driver():
    options = Options()
    options.add_argument("--disable-blink-features=AutomationControlled")
    options.add_argument("--log-level=3")
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    driver.set_window_size(1200, 900)
    return driver

driver = get_driver()
print("✅ Chrome driver ready!")

✅ Chrome driver ready!

In [4]:
#Define job scraping function
roles = [
    "data-analyst",
    "data-scientist",
    "business-analyst",
    "machine-learning-engineer",
    "python-developer",
    "data-engineer"
]

def scrape_jobs(role, num_pages=3):  # you can increase num_pages later
    all_jobs = []

    for page in range(1, num_pages + 1):
        url = f"https://www.naukri.com/{role}-jobs-in-india-{page}"
        driver.get(url)
        time.sleep(5)

        try:
            job_cards = WebDriverWait(driver, 15).until(
                EC.presence_of_all_elements_located((By.CSS_SELECTOR, "div.cust-job-tuple"))
            )
        except:
            print(f"⚠️ No jobs found for {role} page {page}")
            continue

        for job in job_cards:
            try: title = job.find_element(By.CSS_SELECTOR, "a.title").text
            except: title = "N/A"
            try: company = job.find_element(By.CSS_SELECTOR, "a.comp-name").text
            except: company = "N/A"
            try: location = job.find_element(By.CSS_SELECTOR, "span.locWdth").text
            except: location = "N/A"
            try: experience = job.find_element(By.CSS_SELECTOR, "span.expwdth").text
            except: experience = "N/A"
            try: salary = job.find_element(By.CSS_SELECTOR, "span.salary, span.sal-wrap").text
            except: salary = "N/A"
            try: skills = ", ".join([s.text for s in job.find_elements(By.CSS_SELECTOR, "ul.tags-gt li")])
            except: skills = "N/A"
            try: posted_date = job.find_element(By.CSS_SELECTOR, "span.job-post-day").text
            except: posted_date = "N/A"

            all_jobs.append({
                "Role": role.replace("-", " ").title(),
                "Job Title": title,
                "Company": company,
                "Location": location,
                "Experience": experience,
                "Salary": salary,
                "Skills": skills,
                "Posted Date": posted_date
            })

        print(f"✅ {role} - Page {page} scraped")
    
    return all_jobs

In [5]:
all_jobs_data = []

for role in roles:
    jobs = scrape_jobs(role, num_pages=10)  # 🔧 increase num_pages for more data
    all_jobs_data.extend(jobs)

df = pd.DataFrame(all_jobs_data)
print("✅ Scraping finished. Total records:", len(df))

🔍 Scraping data-analyst - Page 1 ...
✅ data-analyst - Page 1 scraped
🔍 Scraping data-analyst - Page 2 ...
✅ data-analyst - Page 2 scraped
🔍 Scraping data-analyst - Page 3 ...
✅ data-analyst - Page 3 scraped
🔍 Scraping data-analyst - Page 4 ...
✅ data-analyst - Page 4 scraped
🔍 Scraping data-analyst - Page 5 ...
✅ data-analyst - Page 5 scraped
🔍 Scraping data-analyst - Page 6 ...
✅ data-analyst - Page 6 scraped
🔍 Scraping data-analyst - Page 7 ...
✅ data-analyst - Page 7 scraped
🔍 Scraping data-analyst - Page 8 ...
✅ data-analyst - Page 8 scraped
🔍 Scraping data-analyst - Page 9 ...
✅ data-analyst - Page 9 scraped
🔍 Scraping data-analyst - Page 10 ...
✅ data-analyst - Page 10 scraped
🔍 Scraping data-scientist - Page 1 ...
✅ data-scientist - Page 1 scraped
🔍 Scraping data-scientist - Page 2 ...
✅ data-scientist - Page 2 scraped
🔍 Scraping data-scientist - Page 3 ...
✅ data-scientist - Page 3 scraped
🔍 Scraping data-scientist - Page 4 ...
✅ data-scientist - Page 4 scraped
🔍 Scraping data-scientist - Page 5 ...
✅ data-scientist - Page 5 scraped
🔍 Scraping data-scientist - Page 6 ...
✅ data-scientist - Page 6 scraped
🔍 Scraping data-scientist - Page 7 ...
✅ data-scientist - Page 7 scraped
🔍 Scraping data-scientist - Page 8 ...
✅ data-scientist - Page 8 scraped
🔍 Scraping data-scientist - Page 9 ...
✅ data-scientist - Page 9 scraped
🔍 Scraping data-scientist - Page 10 ...
✅ data-scientist - Page 10 scraped
🔍 Scraping business-analyst - Page 1 ...
✅ business-analyst - Page 1 scraped
🔍 Scraping business-analyst - Page 2 ...
✅ business-analyst - Page 2 scraped
🔍 Scraping business-analyst - Page 3 ...
✅ business-analyst - Page 3 scraped
🔍 Scraping business-analyst - Page 4 ...
✅ business-analyst - Page 4 scraped
🔍 Scraping business-analyst - Page 5 ...
✅ business-analyst - Page 5 scraped
🔍 Scraping business-analyst - Page 6 ...
✅ business-analyst - Page 6 scraped
🔍 Scraping business-analyst - Page 7 ...
✅ business-analyst - Page 7 scraped
🔍 Scraping business-analyst - Page 8 ...
✅ business-analyst - Page 8 scraped
🔍 Scraping business-analyst - Page 9 ...
✅ business-analyst - Page 9 scraped
🔍 Scraping business-analyst - Page 10 ...
✅ business-analyst - Page 10 scraped
🔍 Scraping machine-learning-engineer - Page 1 ...
✅ machine-learning-engineer - Page 1 scraped
🔍 Scraping machine-learning-engineer - Page 2 ...
✅ machine-learning-engineer - Page 2 scraped
🔍 Scraping machine-learning-engineer - Page 3 ...
✅ machine-learning-engineer - Page 3 scraped
🔍 Scraping machine-learning-engineer - Page 4 ...
✅ machine-learning-engineer - Page 4 scraped
🔍 Scraping machine-learning-engineer - Page 5 ...
✅ machine-learning-engineer - Page 5 scraped
🔍 Scraping machine-learning-engineer - Page 6 ...
✅ machine-learning-engineer - Page 6 scraped
🔍 Scraping machine-learning-engineer - Page 7 ...
✅ machine-learning-engineer - Page 7 scraped
🔍 Scraping machine-learning-engineer - Page 8 ...
✅ machine-learning-engineer - Page 8 scraped
🔍 Scraping machine-learning-engineer - Page 9 ...
✅ machine-learning-engineer - Page 9 scraped
🔍 Scraping machine-learning-engineer - Page 10 ...
✅ machine-learning-engineer - Page 10 scraped
🔍 Scraping python-developer - Page 1 ...
✅ python-developer - Page 1 scraped
🔍 Scraping python-developer - Page 2 ...
✅ python-developer - Page 2 scraped
🔍 Scraping python-developer - Page 3 ...
✅ python-developer - Page 3 scraped
🔍 Scraping python-developer - Page 4 ...
✅ python-developer - Page 4 scraped
🔍 Scraping python-developer - Page 5 ...
✅ python-developer - Page 5 scraped
🔍 Scraping python-developer - Page 6 ...
✅ python-developer - Page 6 scraped
🔍 Scraping python-developer - Page 7 ...
✅ python-developer - Page 7 scraped
🔍 Scraping python-developer - Page 8 ...
✅ python-developer - Page 8 scraped
🔍 Scraping python-developer - Page 9 ...
✅ python-developer - Page 9 scraped
🔍 Scraping python-developer - Page 10 ...
✅ python-developer - Page 10 scraped
🔍 Scraping data-engineer - Page 1 ...
✅ data-engineer - Page 1 scraped
🔍 Scraping data-engineer - Page 2 ...
✅ data-engineer - Page 2 scraped
🔍 Scraping data-engineer - Page 3 ...
✅ data-engineer - Page 3 scraped
🔍 Scraping data-engineer - Page 4 ...
✅ data-engineer - Page 4 scraped
🔍 Scraping data-engineer - Page 5 ...
✅ data-engineer - Page 5 scraped
🔍 Scraping data-engineer - Page 6 ...
✅ data-engineer - Page 6 scraped
🔍 Scraping data-engineer - Page 7 ...
✅ data-engineer - Page 7 scraped
🔍 Scraping data-engineer - Page 8 ...
✅ data-engineer - Page 8 scraped
🔍 Scraping data-engineer - Page 9 ...
✅ data-engineer - Page 9 scraped
🔍 Scraping data-engineer - Page 10 ...
✅ data-engineer - Page 10 scraped
✅ Scraping finished. Total records: 1202

In [6]:
df.head(20)

,Role,Job Title,Company,Location,Experience,Salary,Skills,Posted Date
0,Data Analyst,Client Data Analyst,JPMorgan Chase Bank,Bengaluru,1-7 Yrs,N/A,"interviewing, service operations, data analysi...",1 day ago
1,Data Analyst,Client Data Analyst,JPMorgan Chase Bank,Bengaluru,1-7 Yrs,N/A,"data analysis, data analytics, business requir...",1 day ago
2,Data Analyst,Data Analyst,Tata Consultancy Services,Chennai,3-8 Yrs,N/A,"Data Analysis, Sales Report, Power Bi, Advance...",1 week ago
3,Data Analyst,Client Data Analyst,JPMorgan Chase Bank,Bengaluru,1-7 Yrs,N/A,"Operational risk, Compliance, Data collection,...",1 day ago
4,Data Analyst,Data Analyst,Zero Gravity Photography,Chennai,0-2 Yrs,N/A,"Usage, Business reporting, Data Analyst, Manag...",1 day ago
5,Data Analyst,Data Analyst,Convegenius Edu,Jaipur,0-3 Yrs,N/A,"database maintenance, python, data analytics, ...",2 days ago
6,Data Analyst,Data Analyst,Leading Client,Bengaluru,2-5 Yrs,N/A,"python, sql, pandas, tableau, basic sql, chart...",2 days ago
7,Data Analyst,Company Data Analyst,MSCI Services,Mumbai,1-4 Yrs,N/A,"database management, python, data analysis, da...",1 day ago
8,Data Analyst,Opening For data analyst SME / TM @Hyderabad,Cognizant,Hyderabad,3-6 Yrs,N/A,"Data Analytics, Power Bi, SAS, VBA, mis, Snowf...",6 days ago
9,Data Analyst,Data Analyst,Cloudtara Technologies,Bengaluru,1-3 Yrs,N/A,"database maintenance, python, data analytics, ...",1 day ago
10,Data Analyst,Data Analyst,Aroha Technologies,Bengaluru,0-3 Yrs,N/A,"Data Analyst, Data, Data analysis",1 day ago
11,Data Analyst,"Data Analyst, Corporate Audit",Cargill,Gurugram,2-5 Yrs,N/A,"data analysis, data analytics, data manipulati...",1 day ago
12,Data Analyst,Data Analyst,Hexaware Technologies,"Hybrid - Pune, Chennai, Bengaluru",8-12 Yrs,13-18 Lacs PA,"Data Warehousing, ETL, SQL, Warehouse, Data, D...",2 days ago
13,Data Analyst,Data Analyst,S&P Global Market Intelligence,Bengaluru,3-5 Yrs,N/A,"data analysis, supply chain, process improveme...",2 days ago
14,Data Analyst,Data Analyst (SWAT) - NCT,Deutsche Bank,Bengaluru,1-4 Yrs,N/A,"python, data analysis, sql, data quality, etl,...",1 day ago
15,Data Analyst,Data Analyst,Disc Technology Services,"Mumbai, Hyderabad, New Delhi, Chennai, Bengaluru",3-5 Yrs,N/A,"master data, metadata, python, data analysis, ...",1 day ago
16,Data Analyst,Data Analyst - L4,Wipro,Bengaluru,5-8 Yrs,N/A,"data analysis, data warehousing, warehouse, in...",1 day ago
17,Data Analyst,Data Analyst,C2fo India Technologies,Noida,1-4 Yrs,6-8.5 Lacs PA,"Power Bi Reports, SQL, Python, Dax Queries, Po...",1 day ago
18,Data Analyst,S&C GN - Data&AI - Resources - Analyst,Accenture,Bengaluru,4-8 Yrs,N/A,"python, data analysis, machine learning, artif...",1 day ago
19,Data Analyst,Data Analyst,Emids Technologies,"Noida, Hyderabad, Bengaluru",8-10 Yrs,N/A,"SQL, Python, Data Analytics, Analytics, Data, ...",1 day ago

In [7]:
df.to_csv(r"D:\PROJECTS\Naukri_Job_Trends\data\raw\naukri_jobs_raw.csv", index=False)
print("📁 Data saved to data/raw/naukri_jobs.csv")

📁 Data saved to data/raw/naukri_jobs.csv